.header.blue {
  color: white;
  background: #144e70;
  background: linear-gradient(70deg, #144e70 0%, #0d3a56 11%, #072439 22%, #011121 33%, #000915 59%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0 0 0 5rem;
  border-bottom: 4px solid #f26f14;
  background: #d8d8d8;
  background: linear-gradient(70deg, #d8d8d8 0%, #dadada 14%, #e2e2e2 28%, #eaeaea 53%, #fafafa 67%);
}

.header .header__section {
  padding: 1.6rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}

@media (max-width: 480px) {
  .header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 0 0 0 14rem;
  }
}

.header .sectionOne {
  padding-right: 1rem;
}

.header .sectionOne .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (max-width: 480px) {
  .header .sectionOne .article {
    padding: 0 1.6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.header .sectionOne .article .article__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem 0;
  margin: 2rem 0 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .sectionOne .article .article__header .article__logo {
  padding: 0 1.3rem 0 0;
  width: 6rem;
  height: auto;
}

.header .sectionOne .article .article__header .article__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 0 0 1.3rem;
  border-left: 1px solid #837979;
  white-space: nowrap;
}

.header .sectionOne .article .article__header .article__title.blue {
  border-left: 1px solid white;
}

.header .sectionOne .article .article__description {
  font-size: 1.4rem;
  padding: 0.7rem 0;
  color: #837979;
}

.header .sectionOne .article .article__description.blue {
  color: white;
}

.header .sectionOne .article .article__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem 0;
}

.header .sectionOne .article .article__footer .article__symbol {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: .15rem;
  font-size: 1rem;
}

.header .sectionOne .article .article__footer .article__value {
  padding: 0 0 0 0.3rem;
  font-size: 2rem;
}

.header .sectionOne .article .article__footer .article__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 1rem;
}

.header .sectionOne .article .article__footer .article__nav .nav__button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.4rem 0;
  border: none;
  border-radius: 0.4rem;
  background: #ff8e49;
  background: linear-gradient(231deg, #ff8e49 0%, #cf6721 50%, #f0690a 100%);
}

.header .sectionOne .article .article__footer .article__nav .nav__button .button__link {
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.header .sectionTwo.blue {
  background: url("./assets/backgroundHeader.png");
  background-size: cover;
  background-position: center;
  background-position-y: 0rem;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .header .sectionTwo.blue {
    min-height: 14rem;
  }
}

.header .sectionTwo {
  background: url("./assets/backgroundGrayHeader.png");
  background-size: cover;
  background-position: center;
  background-position-y: 0rem;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .header .sectionTwo {
    min-height: 14rem;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 7.3rem;
  max-height: 7.3rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: auto;
  padding: 3rem 1rem 0rem;
}

@media (min-width: 1270px) {
  .list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 1382px) {
  .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list .list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  white-space: nowrap;
  width: 7.2rem;
  min-width: 7.2rem;
  max-width: 7.2rem;
  min-height: 100%;
  font-size: 1.4rem;
  cursor: pointer;
  background: #f9f9f9;
  color: #171717;
  border: .01rem solid #d3cbcb;
  padding: 1.5rem 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list .list__items:hover {
  background: #e0dbdb;
}

.list .list__items .list__title {
  padding: 1rem 0 0 0;
  font-weight: 500;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.list .list__items img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.list .active {
  background: #f26f14;
  color: white;
  padding: 1.5rem 1.5rem;
  -webkit-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.48);
}

.list .active img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.list .active .list__title {
  font-weight: 700;
}

.list .active:hover {
  background: #f26f14;
}

@media (min-width: 1200px) {
  .main__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 120rem;
    margin: 0 auto;
  }
}

.main__order .listProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem;
}

.main__order .listProducts .products {
  display: none;
  width: 17.5rem;
  max-width: 17.5rem;
  min-width: 17.5rem;
  height: 19rem;
  min-height: 19rem;
  max-height: 19rem;
  border-radius: 1rem;
  background: white;
  -webkit-box-shadow: 0px 0px 25px -13px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px -13px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

.main__order .listProducts .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main__order .listProducts .active .products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.4rem;
}

.main__order .listProducts .active .products__header img {
  -webkit-filter: invert(25%) sepia(70%) saturate(3269%) hue-rotate(360deg) brightness(104%) contrast(109%);
          filter: invert(25%) sepia(70%) saturate(3269%) hue-rotate(360deg) brightness(104%) contrast(109%);
}

.main__order .listProducts .active .products__header .products__title {
  margin-top: 1.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.main__order .listProducts .active .products__description {
  color: #837979;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
}

.main__order .listProducts .active .products__footer.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #ff8e49;
  background: linear-gradient(231deg, #ff8e49 0%, #cf6721 50%, #f0690a 100%);
  padding: 1rem 1rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.main__order .listProducts .active .products__footer.footer .footer__button a {
  color: white;
  text-decoration: none;
  padding: 1.4rem 0rem 1rem 2rem;
}

.main__order .order {
  font-size: 1.8rem;
  color: #171717;
  padding: 3rem 0 0 1.5rem;
}

@media (min-width: 1200px) {
  .main__order .order {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 3rem 0 0 8.2rem;
  }
}

.main__order .order .order__label {
  font-weight: 700;
  padding: 0 1rem 0 0;
}

.main__order .order .order__select.select {
  border: 1px solid rgba(54, 54, 54, 0.4);
  border-radius: .4rem;
  padding: .2rem;
}

.main__order .order .order__select.select .select__value {
  font-size: 1.6rem;
}

.main__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.main__slide .article__slide {
  padding: 1rem 1rem;
  width: 100%;
  max-width: 82rem;
}

.main__slide .article__slide .article__slide__header {
  margin-left: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__slide .article__slide .article__slide__header img {
  height: 1.2rem;
  margin: 0 0.8rem 0.1rem 0;
}

.main__slide .article__slide .article__slide__header h1 a {
  font-size: 1.6rem;
  color: #f26f14;
  text-decoration: none;
  font-weight: 500;
}

.main__slide .article__slide .article__sliders__each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.main__slide .article__slide .article__sliders__each .article__sliders__each__div {
  max-width: 36rem;
  min-width: 24rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 2rem;
  border-radius: 1.4rem;
  -webkit-box-shadow: 0px 0px 45px -24px #0a020a;
          box-shadow: 0px 0px 45px -24px #0a020a;
}

.main__slide .article__slide .article__sliders__each .article__sliders__each__div img {
  max-width: 100%;
}

.main__slide .article__slide .article__sliders__each .article__sliders__each__div h3 {
  color: #f26f14;
  font-size: 1.8rem;
}

.main__slide .article__slide .article__slide__description {
  margin: 1.6rem 1rem;
  font-size: 1.2rem;
  color: #837979;
}

.main__slide .article__slide .article__slide__footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.main__slide .article__slide .article__slide__footer .footer__currency span {
  color: #171717;
  font-size: 2rem;
  font-weight: 500;
}

.main__slide .article__slide .article__slide__footer .footer__currency span:nth-child(1) {
  font-size: 1.2rem;
  margin-right: .2rem;
}

.main__slide .article__slide .article__slide__footer .footer__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main__slide .article__slide .article__slide__footer .footer__button button {
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 0.4rem 1rem;
  margin: 0.2rem 1rem 0;
  font-size: 1.3rem;
  cursor: pointer;
  background: #ff8e49;
  background: linear-gradient(231deg, #ff8e49 0%, #cf6721 50%, #f0690a 100%);
}

.main__slide .article__slide .article__slide__footer .footer__button button:focus {
  outline: none;
}

.main__slide .article__slide .article__slider img {
  max-width: 32rem;
  z-index: 2;
}

.main__slide .article__slide .article__slider h3 {
  margin: .7rem 0 0;
  color: #f26f14;
  max-width: 36.5rem;
  font-size: 1.4rem;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 66.5%;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  * {
    font-size: 63.6%;
  }
}

@media (min-width: 1200px) {
  * {
    font-size: 80%;
  }
}

button, .footer__button, .list__title {
  overflow-y: hidden;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 100vw;
  min-height: 100vh;
}
/*# sourceMappingURL=global.css.map */